* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}
@media screen {
    

span {
    display: block;
    cursor: pointer;
}

.canvas {
    margin: 100px auto 100px ;
    width: 80% ;
    text-align: center;
}

.canvas h1  {
    position: relative;
    margin-bottom: 10px;
}

.canvas h2  {
    position: relative;
    margin-top: 10px;
}

.button {
    width: 100px ;
    height: 100px ;
    border: 2px solid black;
    display: inline-block;
}

#grey {
    background: gray;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}

#red {
    background: red;
}

#green {
    background: green;
}

#purple {
    background: purple;
}

#orange {
    background: orange;
}

#pink {
    background: pink;
}

#brown {
    background: brown;
}

}